* {
  padding: 0;
  margin: 0;
}

.banner {
  background: #f5cac3;
  height: 12em;
  grid-area: banner;
}
.banner h1 {
  color: #001219;
  font-family: "Permanent Marker", cursive;
  font-size: 7em;
  text-align: center;
}

body {
  background: #f7ede2;
}

h2 {
  text-align: center;
  font-size: 3.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #e78f8e;
  text-shadow: 3px 5px 5px;
  margin: 1.5em auto 1.5em auto;
}

.nosotrxs {
  margin: 6em 8em 8em 8em;
  font-family: sans-serif;
  font-size: larger;
  text-align: justify;
  background-color: hsl(342deg, 71%, 86%);
  border-radius: 20%;
  padding: 5em;
  box-shadow: 0 0 1.3em 0 #f55f8c;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 480px) {
  .nosotrxs {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 6em;
  }
}

.imgX3 {
  justify-content: center;
}

.containerIndex {
  padding: 0%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  row-gap: 1.4em;
}
.containerIndex .bodyCard {
  background-color: #efd4d1;
}
.containerIndex .bodyCard .cartaTit {
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.containerIndex .bodyCard .botonComprar {
  background-color: #bfb7d1;
  border: #001219;
  color: #001219;
}
.containerIndex .bodyCard .botonComprar:hover {
  background-color: rgb(211, 113, 193);
}

.centrarForm h2 {
  text-align: center;
  font-size: 3.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #e78f8e;
  text-shadow: 3px 5px 5px;
  margin: 1.5em auto 1.5em auto;
}
.centrarForm .divForm {
  box-shadow: 0 0 1.1em 0 rgb(226, 78, 201);
  padding: 1em;
  background-color: #e4b5c8;
  width: 100%;
  margin: 1em 0 5em 0;
}
.centrarForm .divForm form p,
.centrarForm .divForm form label,
.centrarForm .divForm form input,
.centrarForm .divForm form button,
.centrarForm .divForm form textarea {
  width: 100%;
  padding: 1em;
  text-align: center;
}
.centrarForm form p {
  margin: 0 auto;
}
.centrarForm .buttomForm {
  margin: 0 auto;
  background-color: #EDB6A3;
}

.footerFinal {
  background-image: url(../assets/imgFooter.jpg);
  grid-area: footerFinal;
}
.footerFinal div .divContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}
.footerFinal div .divContact .contact {
  font-size: 20px;
  font-family: monospace;
}
.footerFinal div .redes {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.footerFinal div .redes a {
  padding: 1em;
}
.footerFinal div .redes .borderImg {
  border-radius: 100%;
}

nav {
  background: #ffd7ba;
  height: 4em;
  grid-area: navIndex;
  padding: 0%;
}
nav .aFonts {
  padding: 0;
  margin: 0;
  background-color: #ffd7ba;
  height: auto;
}
nav .barra {
  padding: 0;
  margin: 0;
  background: #ffd7ba;
}
nav .barra .divNav {
  background: #ffd7ba;
  height: 4em;
  justify-content: space-evenly;
  justify-items: auto;
}
nav .barra .divNav .navIndex {
  width: 100%;
  margin-right: 0%;
  justify-content: space-around;
}
nav .barra .divNav .navIndex .aFonts {
  padding: 0;
  margin: 0;
  background-color: #ffd7ba;
  height: auto;
}
nav .barra .divNav .navIndex a {
  color: #001219;
  text-decoration: none;
  font-size: 1.7em;
  font-family: monospace;
}

.productosBarra {
  background-color: #e78f8e;
  font-family: monospace;
}
.productosBarra li a {
  color: #001219;
  font-size: 1.5em;
}
.productosBarra a:hover {
  color: rgb(134, 35, 116);
}

.centrarForm, .centrarForm .divForm {
  display: grid;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
