$bg-form: #e4b5c8;
$bg-products: #e78f8e;
$bg-nosotrxs: hsl(342, 71%, 86%);
$color-a: #001219;
$shadow-form: 0 0 1.1em 0 rgb(226, 78, 201);
$shadow-nosotrxs: 0 0 1.3em 0 #f55f8c;
$buttom-form: #EDB6A3;