@import"../base/variables";

.centrarForm {
    display: grid;
    justify-content: center;
    align-items: center; 
    h2 {
        text-align: center;
        font-size: 3.5em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: $bg-products;
        text-shadow: 3px 5px 5px;
        margin: 1.5em auto 1.5em auto;
    }
    .divForm {
        display: grid;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow-form; 
        padding: 1em;
        background-color: $bg-form;
        width: 100%;
        margin: 1em 0 5em 0;
    }
    .divForm form p,
    .divForm form label,
    .divForm form input,
    .divForm form button,
    .divForm form textarea {
        width: 100%;
        padding: 1em;
        text-align: center;
    }
    form p {
        margin: 0 auto;
    }
    .buttomForm {
        margin: 0 auto;
        background-color: $buttom-form;
    }
}


