.containerIndex {
    padding: 0%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    row-gap: 1.4em;

    .bodyCard {
        background-color: #efd4d1;

        .cartaTit {
            font-size: 1em;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }

        .botonComprar {
            background-color: #bfb7d1;
            border: #001219;
            color: #001219;

            &:hover {
                background-color: rgb(211, 113, 193);
            }

        }


    }
}