nav {
    background: #ffd7ba;
    height: map-get($nav,alto);
    grid-area: navIndex;
    padding: 0%;

    .aFonts {
        @include lados(0,0);
        background-color: #ffd7ba;
        height: auto;
    }

    .barra {
        @include lados (0,0);
        background: #ffd7ba;

        .divNav {
            background: #ffd7ba;
            height: map-get($nav,alto);
            justify-content: space-evenly;
            justify-items: auto;

            .navIndex {
                width: map-get($nav,ancho);
                margin-right: 0%;
                justify-content: space-around;

                .aFonts {
                    @include lados (0,0);
                    background-color: #ffd7ba;
                    height: auto;
                }

                a {
                    color: #001219;
                    text-decoration: none;
                    font-size: 1.7em;
                    font-family: map-get($nav,letra);
                }
            }
        }
    }

}

.productosBarra {
    background-color: #e78f8e;
    font-family: monospace;
    li a {
        color: #001219;
        font-size: 1.5em;
    }
    a:hover {
        color: rgb(134, 35, 116);
    }
}